/* .cartContainer {
  border: solid 5px rgb(242, 216, 137);
  border-radius: 2rem;
} */

.cartPageSection {
  margin: 0 auto;
  background-color: rgb(37, 36, 35);
  height: 95vh;
  width: 95vw;
}
.watchCartBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgb(209, 207, 198);
  /* background-color: rgb(250, 240, 177); */
  width: 90%;
  border: solid #676767 5px;
  border-radius: 2rem;
}
.imageContainer {
  height: 15rem;
  width: 15rem;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.rightContainer {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.itemDescription {
  /* -webkit-text-stroke-width: 0.55px;
  -webkit-text-stroke-color: black;
  color: rgb(242, 216, 137); */
  color: rgb(37, 36, 35);
  font-size: 4rem;
  padding-top: 5rem;
  font-style: italic;
}
.itemPrice {
  font-size: 2rem;
  padding-top: 5rem;
}

.totalPrice {
  margin: 2rem auto;
  padding: 1rem;
  font-size: 2rem;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  /* background-color: rgb(250, 240, 177); */
  background-color: rgb(200, 209, 198);
  border: solid #676767 5px;
  border-radius: 2rem;
}
