/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

1 rem = 16px 

*/

/* 
Background COLOR: 
logo COLOR: rgb(242, 216, 137); 
card color: rgb(47, 34, 14);
card second color:rgb(250, 240, 177);
option? rgb(49, 49, 49);
*/

/* ------------------------ */
/*            FULL PAGE */
/* ------------------------ */

.body {
  min-width: 358px;
  width: 100%;
}

/* ------------------------ */
/*            MODAL */
/* ------------------------ */

.modalContainer {
  margin: 2rem auto;
  height: 100%;
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(242, 216, 137);
  font-style: italic;
  letter-spacing: 0.33rem;
  line-height: 6rem;
  font-size: 2.5rem;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
  /* transition: all 3s ease-in-out; */
}
.modalContainer button {
  margin: 0 auto;
  width: 60%;
  height: 6rem;
  align-items: center;
  justify-content: center;
  color: #1f1f1f;
  background-color: rgb(198, 209, 198);
  border-radius: 2rem;
  transition: all 0.15s ease-in-out;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 800;
  /* font-style: italic; */
  letter-spacing: 0.3rem;
}
/* .modalContainer div:nth-child(odd) {
  background-color: #aeabab;
} */

.modalContainer button:hover {
  box-shadow: 0px 0px 5px 0px rgb(149, 149, 149);
  /* background-color: rgb(216, 169, 28); */
  background-color: rgb(250, 240, 177);
}

/* ------------------------ */
/*             NAV */
/* ------------------------ */

.navBar {
  display: flex;
  margin: 0 auto;
  background-color: rgb(242, 216, 137);
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(9, 29, 73, 0);
  position: absolute;
  left: 0.01%;
  right: 0.01%;
  z-index: 1;
  transform: translate(-50% -50%);
  position: sticky;
  top: 0;
}
.navBar button {
  font-family: serif;
  margin: 2rem 2rem;
  cursor: pointer;
  background-color: rgb(250, 240, 177);
  /* background-color: rgb(198, 209, 198); */
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  font-style: italic;
  transition: 0.2s;
}
.navBar button:hover {
  background-color: rgb(242, 216, 137);
  box-shadow: 0px 0px 7.5px 0px rgb(255, 255, 255);
}
.siteLogo {
  margin: 0 0;
}

.siteLogo p {
  margin: 1rem;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  color: rgb(242, 216, 137);
  text-align: center;
}

/* ------------------------ */
/*             HERO */
/* ------------------------ */

.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.logo {
  font-size: 5.5rem;
  color: rgb(238, 221, 128);
  font-style: bold;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
  /* top: 0px;
  left: 30px; */
  /* transform: translate(23, 0); */
}
.logo h1 {
  font-size: 3rem;
  font-weight: 100;
}
.logo h2 {
  font-size: 2rem;
  font-weight: 100;
}

.imgContainer {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* ------------------------ */
/*        Site Intro */
/* ------------------------ */

.siteIntro {
  /* background-color: rgb(47, 34, 14); */
  background-color: #1f1f1f;
  border: solid #676767 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  text-align: centers;
  /* margin-top: 5rem; */
  padding: 5rem 0;
  margin: 5rem auto;
  width: 95%;
  border-radius: 3rem;
}

.womanContainer {
  height: 50vh;
  overflow: hidden;
  border-radius: 3rem;
}
/* .femaleContainer {
  height: 10%;
  width: 100%;
} */

.femaleImg {
  height: 100%;
  width: 100;
}

.introInfoContainer {
  display: flex;
  /* background-color: rgb(69, 69, 69); */
  height: 35vh;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3rem;
}

.introInfoHeader {
  justify-content: center;
  align-items: center;
  letter-spacing: 0.33rem;
  line-height: 6rem;
  font-weight: 00;
  font-size: 6rem;
  /* color: rgb(242, 216, 137); */
  color: rgb(250, 240, 177);
  text-align: center;
  border-radius: 2rem;
  margin: 1rem;
  font-style: italic;
}

.introInfoText {
  justify-self: center;
  align-self: center;
  letter-spacing: 0.4rem;
  font-weight: 100;
  font-size: 2.5rem;
  font-style: italic;
  color: rgb(250, 240, 177);
  /* background-color: rgb(163, 163, 163); */
  text-align: center;
  border-radius: 2rem;
  width: 70%;
  margin: auto 2rem;
  padding: auto 1rem;
}

/* ------------------------ */
/*        WATCH CAROUSEL */
/* ------------------------ */

.watchSectionContainer {
  margin: 3rem auto;
  background-color: #1f1f1f;
  border: solid #676767 5px;
  /* background-color: rgb(49, 49, 49); */
  height: 75vh;
  width: 75vw;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchSectionLeft {
  margin: 3rem auto;
  /* background-color: rgb(250, 240, 177); */
  height: 50vh;
  width: 50vw;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.watchSectionLeftH1 {
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.33rem;
  line-height: 6rem;
  font-size: 6rem;
  color: rgb(250, 240, 177);
  text-align: center;
  border-radius: 2rem;
  /* margin: 1rem; */
  width: 70%;
  font-style: italic;
  /* font-style: italic; */
}
.watchSectionLeftH2 {
  justify-content: center;
  align-items: center;
  letter-spacing: 0.33rem;
  line-height: 6rem;
  font-size: 6rem;
  color: rgb(250, 240, 177);
  text-align: center;
  border-radius: 2rem;
  margin: 2rem;
  margin-top: 6rem;
  width: 70%;
  font-style: italic;
}
.watchListContainer {
  display: flex;
  justify-self: space-between;
  align-self: center;
  padding: 5rem;
  flex-wrap: wrap;
  letter-spacing: 0.4rem;
  font-weight: 100;
  font-size: 2.5rem;
  font-style: italic;
  color: rgb(250, 240, 177);
}
.watchList {
  /* background-color: red; */
  padding: 1rem;
}

.shopButton {
  margin-top: 3rem;
  color: rgb(44, 44, 44);
  /* background-color: rgb(250, 240, 177); */
  background-color: rgb(242, 216, 137);
  border-radius: 1rem;
  padding: 0.6rem;
  font-style: italic;
  letter-spacing: 0.2rem;
  font-weight: 850;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 0px rgb(149, 149, 149);
}
.shopButton:hover {
  box-shadow: 0px 0px 7px 0px rgb(246, 245, 245);
}
.watchSectionRight {
  margin: 3rem auto;
  margin-right: 2rem;
  /* background-color: rgb(70, 70, 70); */
  height: 50vh;
  width: 30vw;
  border-radius: 3rem;
  display: flex;
}

.carouselContainer {
  margin: 0 auto;
  /* margin-left: 1rem; */
  /* background-color: rgb(242, 216, 137); */
  height: 100%;
  width: 60%;
  border-radius: 3rem;
  position: relative;
  display: flex;
}
.watchContainer {
  margin: 0 auto;
  /* background-color: rgb(129, 209, 193); */
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(135, 134, 134);
}
.watchContainer:hover {
  box-shadow: 0px 0px 15px 0px rgb(135, 134, 134);
}
.watchImage {
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  overflow: hidden;
  user-select: none;
  transition: 0.2s;
}
.watchImage:hover {
  transform: scale(1.3);
}
.leftArrow {
  font-size: 1rem;
  color: rgb(198, 209, 198);
  background-color: rgb(163, 163, 163);
  height: 3rem;
  width: 3rem;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  z-index: 1;
}
.rightArrow {
  font-size: 1rem;
  color: rgb(198, 209, 198);
  background-color: rgb(163, 163, 163);
  height: 3rem;
  width: 3rem;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}
.arrows {
  margin: auto;
  height: 100%;
  width: 75%;
  transform: translate(15%, 0%);
}

/* ------------------------ */
/*        FOOTER */
/* ------------------------ */

.footerContainer {
  background-color: #1f1f1f;
  border: solid #676767 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  text-align: centers;
  /* margin-top: 5rem; */
  padding: 5rem 0;
  margin: 5rem auto;
  height: 3vh;
  width: 93%;
  border-radius: 3rem;
}

.footerContainer button {
  padding: 0.5rem;
  color: rgb(250, 240, 177);
  background-color: rgb(250, 240, 177, 0);
  /* border-radius: 1rem; */
  border: none;
  font-style: italic;
  letter-spacing: 0.2rem;
  font-weight: 850;
  cursor: pointer;
  border-radius: 1rem;
  /* transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 0px rgb(149, 149, 149); */
}
.footerContainer button:hover {
  color: rgb(44, 44, 44);
  background-color: rgb(242, 216, 137);
  box-shadow: 0px 0px 5px 0px rgb(248, 248, 248);
}
/* ------------------------ */
/*        MEDIA QUERIES*/
/* ------------------------ */
/* rem and em do NOT depond on html font-size in media queries!
Instread 1rem = 1em = 16px */

/* ==============================
          Below 600px
============================== */

@media (max-width: 37.5em) {
  /* .body {
    min-width: 375px;
    width: 100%;
  } */

  .siteLogo {
    /* display: none; */
  }

  .siteLogo p {
    margin: 1rem;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    color: rgb(242, 216, 137);
    text-align: center;
  }

  .femaleImg {
    width: 40vh;
  }

  .watchSectionContainer {
    display: flex;
    flex-direction: column;
  }

  .introInfoHeader {
    /* background-color: aqua; */
    font-size: 4rem;
    line-height: 4rem;
  }
  .introInfoText {
    background-color: aquamarine;
    display: none;
    font-size: 3.5rem;
  }

  .watchSectionLeft {
    height: 5rem;
    margin: 0;
    order: 2;
  }

  .watchSectionLeftH1 {
    display: none;
  }
  .watchListContainer {
    display: none;
  }
  .watchSectionRight {
    width: 100%;
    margin: 0;
    order: 1;
  }
  .shopButton {
    display: flex;
  }
  .navButton {
    font-size: 2rem;
    margin: 0;
    background-color: rgb(127, 142, 255);
  }

  .footerContainer {
    background-color: #1f1f1f;
    border: solid #676767 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: centers;
    /* margin-top: 5rem; */
    padding: 0;
    margin: 0 auto;
    height: 15vh;
    width: 93%;
    border-radius: 3rem;
  }
}

/* ==============================
          600px-900px
============================== */
@media (min-width: 37.5em) and (max-width: 56.25em) {
  .siteLogo {
    /* display: none; */
  }
  .femaleImg {
    width: 40vh;
  }

  .watchSectionContainer {
    display: flex;
    flex-direction: column;
  }

  .introInfoHeader {
    /* background-color: aqua; */
    font-size: 4rem;
    line-height: 3rem;
  }
  .introInfoText {
    /* background-color: rgb(136, 127, 255); */
    display: none;
    font-size: 2rem;
  }

  .watchSectionLeft {
    height: 5rem;
    margin: 0;
    order: 2;
  }

  .watchSectionLeftH1 {
    display: none;
  }
  .watchListContainer {
    display: none;
  }
  .watchSectionRight {
    width: 100%;
    margin: 0;
    order: 1;
  }
  .shopButton {
    display: flex;
  }
  .navButton {
    margin: 0;
    background-color: rgb(221, 127, 255);
  }
}

/* ==============================
          900px-1200px
============================== */
@media (min-width: 56.25em) and (max-width: 75em) {
  .siteLogo {
    /* display: none; */
  }
  .femaleImg {
    width: 40vh;
  }

  .introInfoHeader {
    font-size: 4rem;
    line-height: 3rem;
  }
  .introInfoText {
    /* display: none; */
    font-size: 2rem;
  }

  .watchSectionLeft {
    height: 5rem;
    margin: 0;
  }

  .watchListContainer {
    display: none;
  }
  .watchSectionRight {
    width: 50%;
    margin: 0;
  }
  .shopButton {
    display: flex;
  }
  .navButton {
    margin: 0;
    background-color: rgb(221, 127, 255);
  }
}
