.selectedWatch {
  width: 90vw;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 76, 76);
  border: solid rgb(198, 209, 198) 3.5px;
  font-size: 1.25rem;
  border-radius: 2rem;
  letter-spacing: 0.3rem;
  font-style: italic;
  font-weight: 350;
}
.selectedWatchInfo {
  text-align: center;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.watchContainer {
  padding-top: 2rem;
  height: 70rem;
  width: 120rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.watchImage {
  border: solid rgb(198, 209, 198) 3.5px;
  border-radius: 6rem;
  overflow: hidden;
}
.image {
  height: 100%;
  width: 100%;
}
.description {
  margin: 2rem auto;
  padding: 0.75rem;
  font-size: 4.5rem;
  background-color: rgb(198, 209, 198);
  border: solid #1f1f1f 3.5px;
  border-radius: 2rem;
}
.price {
  padding: 0.75rem;
  font-size: 3rem;
  background-color: rgb(198, 209, 198);
  border: solid #1f1f1f 3.5px;
  border-radius: 2rem;
}
.buyButton {
  margin: 2rem auto;
  padding: 0.75rem;
  font-size: 2rem;
  background-color: rgb(242, 216, 137);
  border: solid #1f1f1f 3.5px;
  border-radius: 2rem;
  width: 18rem;
  cursor: pointer;
  font-style: italic;
  font-weight: 350;
}
.buyButton:hover {
  background-color: rgb(242, 216, 137);
  box-shadow: 0px 0px 7.5px 0px rgb(255, 255, 255);
  text-decoration: none;
}

/* ==============================
          Above 900px
============================== */
@media (min-width: 56.25em) {
  .watchContainer {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .watchImage {
    margin: 3rem;
    height: 100%;
  }
  .selectedWatchInfo {
    margin: 3rem;
  }
}
